# To roll out the service, execute:
# sudo cp /home/pi/EnergyMonitor/collector.service /etc/systemd/system/collector.service
# sudo systemctl daemon-reload
# sudo systemctl enable collector.service
# sudo systemctl start collector.service
[Unit]
Description=EnergyMonitor Collector

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/EnergyMonitor/collector.py
Restart=always

[Install]
WantedBy=default.target
